[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
[submodule "unicorn"]
	path = unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "capstone"]
	path = capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "libADLMIDI"]
	path = libADLMIDI
	url = https://github.com/Wohlstand/libADLMIDI.git
